@model TestApp.Model.Employee
<td>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="width: 400px;">
                <div class="card-header">
                    <h1>@Model.Name</h1>
                </div>

                <div class="card-body text-center">
                    <h4>Employee ID : @Model.Id</h4>
                    <h4>Email : @Model.Email</h4>
                    <h4>Department : @Model.Department</h4>
                </div>
                <div class="card-footer text-center">
                    <a  class="btn btn-primary" asp-page="CRUD/update" asp-route-id="@Model.Id">Edit</a>
                    <a  class="btn btn-primary" asp-page="CRUD/details" asp-route-id="@Model.Id">Details</a>
                    <a  class="btn btn-danger" asp-page="CRUD/delete" asp-route-id="@Model.Id">Delete</a>

                </div>
            </div>
        </div>
    </div>
</td>