@page
@model TestApp.Pages.CRUD.detailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Employee Details</h1>


<form  asp-action="OnPost" method="post">


    <table border="1" cellpadding="10">
        <tr>
            <td>Employee ID :</td>
            <td>
                <input name="Id" value="@Model.e.Id" readonly />
            </td>
            <td>
                <input name="photo" value="@Model.e.photo" readonly />
                <img  src="data:image;base64,@System.Convert.ToBase64String(Model.e.photo)" width="100" height="100" />
            
            </td>
        </tr>
        <tr>
            <td> Name :</td>
            <td><input name="Name" value="@Model.e.Name" readonly /></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input name="Email" value="@Model.e.Email" readonly /></td>
        </tr>
        <tr>
            <td>Last Name :</td>
            <td><input name="Department" value="@Model.e.Department" readonly /></td>
        </tr>
        <tr>
            <button type="submit">Back</button>
        </tr>
    </table>

</form>